body{
    background-size: cover;
    margin: 0 auto;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: rgb(52, 73, 94);
    background-color: #2b2b2b;
}

p {
    font-size: 18px;
    line-height: 1.72222;
    margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6{
    word-wrap: break-word;
}

.content{
    margin: 20px auto;
    padding: 0 20px 20px;
    background: #fff;
    border-radius: 5px;
}

.hiding {
    display: none;
}

/* 遮罩*/

#loadingModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#000000;

    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

    z-index: 1000;
    display: none;
}

.loading-panel {
    background: #000000;
    width: 120px;
    height: 50px;
    margin: 100px auto 0;
}
.loading-panel p {
    text-align: center;
    color : #fff;
}

.loading-img {
    background: url('/img/loading.gif');
    width: 42px;
    height: 43px;
    margin:0 auto;
}

.loading-panel button {
    width:100%;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}



/* info list page*/
.wrapper{
    min-height: 960px;
    padding: 25px 10px;
}
form#empForm, form#editForm {
    padding: 0 35px 15px;
}
label.gender {
    padding-top: 0 !important;
}
table tr th{
    background: #f8f8f8;
}
.search-box {
    padding-bottom: 0;
}
@media screen and (max-width: 368px){
    .wrapper{
        min-width: 340px;
    }
}