<div class="center-block col-xs-12 col-sm-12 col-md-6 col-lg-4 content">
    <div class="center-block row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Sign in </h2>
        <hr>
    </div>
    <div class="col-xs-12  col-lg-12 content"  ng-hide="if_login">

        <div class="row cc-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email Address" ng-model="user.email_addr" required>
                </div>
                <!--h1>{{user.email_addr}}</h1-->
            </div>
        </div>

        <div class="row cc-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" ng-model="user.password" ng-minlength="6" required>
                </div>
                <!--h1>{{user.password}}</h1-->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-block btn-lg btn-primary" ng-click="loginProcess()">Login</a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6`">
                <a class="btn btn-block btn-lg btn-info" href="/#/sign_up">Register</a>
            </div>
        </div>

    </div>
</div>
